<%- include("../includes/head") %>
<%- include("../includes/navbar") %>
    <section class="mx-auto pt-40">
      <a href="/" class="ml-auto">Go back home</a>
      <h1 class="title">Login your account!</h1>
      <form action="/login" method="post">
      <input hidden value="<%= csrfToken %>" name="_csrf" />
        <div>
          <% if(errorMsg) { %>
            <p class="message-box"><%= errorMsg %></p>
          <% } %>
          <label for="email">Enter email</label>
          <input type="text" id="email" name="email" value="<%= oldFormData.email %>" />
        </div>
        <div>
            <label for="password">Enter password</label>
            <input type="password" id="password" name="password" value="<%= oldFormData.password %>" />
        </div>
        <a href="/reset-password" class="mt-20">Forgot Password</a>
        <button>Login</button>
      </form>
    </section>
  </body>
  <%- include("../includes/foot") %>
