<%- include("../includes/head") %>
<%- include("../includes/navbar") %>
    <section class="mx-auto">
      <a href="/" class="ml-auto">Go back home</a>
      <h1 class="title">Create your account!</h1>
      <form action="/register" method="post">
      <input hidden value="<%= csrfToken %>" name="_csrf" />
        <div>
          <% if(regError) { %>
            <p class="message-box"><%= regError %></p>
          <% } %>
          <label for="username">Enter username</label>
          <input type="text" id="username" name="username" value="<%= oldFormData.username %>" />
        </div>
        <div>
            <label for="email">Enter email</label>
            <input type="text" id="email" name="email" value="<%= oldFormData.email %>" />
        </div>
        <div>
            <label for="password">Enter password</label>
            <input type="password" id="password" name="password" value="<%= oldFormData.password %>" />
        </div>
        <button class="mt-20">Register</button>
      </form>
    </section>
  </body>
  <%- include("../includes/foot") %>
