<%- include("../includes/head") %>
<%- include("../includes/navbar") %>
    <section class="mx-auto">
      <a href="/" class="ml-auto mt-20">Go back home</a>
      <% if(errorMsg) { %>
        <p class="message-box mt-20"><%= errorMsg %></p>
      <% } %>
      <h1 class="title mt-20">Reset your password!</h1>
      <form action="/reset-password" method="post">
      <input hidden value="<%= csrfToken %>" name="_csrf" />
        <div class="mt-20">
          <label for="email">Enter email</label>
          <input type="text" id="email" name="email" value="<%= oldFormData.email %>" />
        </div>        
        <button class="mt-20">Reset Password</button>
      </form>
    </section>
  </body>
  <%- include("../includes/foot") %>
