<%- include("./includes/head") %>
<%- include("./includes/navbar") %>
    <section class="mx-auto mt-20 form">
      <h1 class="title mt-20">Add a new post here!</h1>
      <form action="/admin" method="post" enctype="multipart/form-data">
      <input hidden value="<%= csrfToken %>" name="_csrf" />
        <div>
          <% if(errorMsg) { %>
            <p class="message-box"><%= errorMsg %></p>
          <% } %>
          <label for="title">Enter title</label>
          <input type="text" id="title" name="title" value="<%= oldFormData.title %>" />
        </div>
        <div>
          <label for="photo">Enter photo</label>
          <input type="file" id="photo" name="photo" />
        </div>
        <div>
          <label for="description">Enter description</label>
          <textarea
            name="description"
            id="description"
            cols="30"
            rows="10"
          ><%= oldFormData.description %></textarea>
        </div>
        <button>Add Post</button>
      </form>
    </section>
  </body>
  <%- include("./includes/foot") %>
