<%- include("./includes/head") %>
<%- include("./includes/navbar") %>
<div class="p-50">
  <% if(post.userId._id.toString() == currentLoginUserId.toString()) { %>
    <div class="flex f-end gap-15">
      <div>
        <a href="/admin/edit/<%= post._id %>">Edit</a>
      </div>
    <div>
      <form action="/admin/delete-post/<%= post._id %>" method="post">
        <input hidden value="<%= csrfToken %>" name="_csrf" />
          <button>Delete</button>
      </form>
    </div>
    </div>
    <% } %>
<section class="details">
  <div class="mt-20">
    <p >Posted by <span class="tmp"><%= post.userId.email %></span></p>
    <% if(date) { %>
      <p>Uploaded at <span class="tmp"><%= date %></span></p>
    <% } %>
  </div>
    <h1><%= post.title %></h1>
    <img src="<%= '/' + post.imgUrl %>" alt="<%= post.title %>">
    <p class="mt-20"><%= post.description %></p>
    
</section>
</div>
<%- include("./includes/foot") %>