<%- include("../includes/head") %> <%- include("../includes/navbar") %>
<section class="mx-auto pt-40">
  <a href="/admin/profile/<%= user._id %>" class="ml-auto">Go back</a>
  <div class="premium-box">
    <form action="">
      <h2>Premium User Only</h2>
      <ul>
        <li>Can save post as PDF</li>
        <li>Animate profile badge</li>
        <li>Can change profile unlimited</li>
        <li>Upload user profile picture</li>
        <button class="checkout-btn">Get Now</button>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
          var stripe = Stripe('pk_test_51OKDbJJTaSaGoUM6iMCWfmYKxeIdNna8KkiSN5Sb7PiUe1Z65O0rt1tuQdTPYjf3bhjUrtq7gO74GOg4Ym8ms1dh00XDd8I8s5');
          var checkoutBtn = document.querySelector(".checkout-btn");
          checkoutBtn.addEventListener("click", function() {
            stripe.redirectToCheckout({
              sessionId: "<%= session_id %>"
            })
          })
        </script>
      </ul>
    </form>
  </div>
</section>
<%- include("../includes/foot") %>
