<%- include("../includes/head") %>
<div class="flex navbar space-between p-300">
  <div class="flex">
    <i class="fa-solid fa-blog text-white f-20"></i>
    <h1 class="title text-white logo"><a href="/" class="bg-none">My Blogs</a></h1>
  </div>
  <div class="flex gap-15">
    <p class="text-white">Hello, <%= currentUser.email %></p>
    <div>
    <a href="/admin/create-post">Add a new post</a>
  </div>
  </div>
</div>
    <hr />
    <div class="p-300 mt-20">
      <a href="/" class="ml-auto">Go Back Home</a>
    </div>
    <div class="p-300 flex space-between">
      <div class="flex top">
      <div class="center flex">
          <img src="<%= profileImg ? '/' + profileImg : 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png' %>" alt="profile" class="profile-lg">
      </div>
      <div class="flex">
        <h1 class="ml-10"><%= currentUser.username %></h1>
        <% if(userInfo.isPremium) { %>
        <i class="fa-solid fa-star fa-fade fa-lg" style="color: #efd00b; margin-left: 5px;"></i>
        <% } %>
      </div>
      </div>
      <div class="flex gap-15">
        <a href="/admin/edit-profile">Edit profile</a>
        <% if(!userInfo.isPremium) { %>
          <a href="/admin/premium">Buy Premium</a>
        <% } %>
        <% if(userInfo.isPremium) { %>
          <a href="/admin/premium-details">Premium Details</a>
        <% } %>
      </div>
  </div>
  <% if(postsArr.length === 0 && isLogin) { %>
    <div class="flex center fullheight">
      <div>
        <h1>Nothing to see ?</h1>
        <a href="/admin/create-post" class="ml-20 mt-20">Create a new post</a>
      </div>
    </div>
    <% } %>
    <% if(postsArr.length > 0 && isLogin) { %>
    <div class="post-container">
      <% for(let post of postsArr) { %>
      <a class="link" href="/post/<%= post._id %>">
        <div class="post-box">
          <div>
            <img
              src="<%= '/' + post.imgUrl %>"
              alt="<%= post.title %>"
              class="home-img"
            />
            <div class="h-50px">
              <p class="post-title mt-20">
                <%= post.title.substr(0, 40) %><%= post.title.length > 40 ? "..." :
                "" %>
              </p>
              <p class="my-20"><%= post.description.substr(0, 100) %>...</p>
            </div>
          </div>
        </div>
      </a>
      <% } %>
    </div>
    <div class="pagination">
      <% if(hasPreviousPage) { %>
      <a href="/admin/profile/user?page=<%= previousPage%>"
        >Previous Page <span class="page-number"><%= previousPage%></span></a
      >
      <% } %> <% if(hasNextPage) { %>
      <a href="/admin/profile/user?page=<%= nextPage%>"
        >Next Page <span class="page-number"><%= nextPage%></span></a
      >
      <% } %>
    </div>
    <% } %>
    <%- include("../includes/foot") %>
